[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
click = "*"
ipmi-acpi = {editable = true,path = "."}

[dev-packages]

[requires]
python_version = "3.7"
